<a href="https://colab.research.google.com/github/JiayuShen0912/Week1-Introduction_to_Python/blob/Jiayu_Shen/Copy_of_Introduction_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PYTHON INTRODUCTION

#                                                      Table Of Content
1.introdution

     1.1 What is Python
     
2.Data types

     2.1 variables
     2.2 Numbers
     2.3 Strings
     2.4 Lists
     2.5 Dictionaries
     2.6 Tuples
     2.7 Sets
   
3.Comparison operators

4.If-Else statement

5.For Loop and While loop

6.Functions

7.Lambda functions

     7.1 Map()
     7.2 Filter()
   
8.File I/O

9.Pandas liberary introduction

10.Series

     10.1 From ndarray
     10.2 From dict
     10.3 From scalar value
     10.4 Series is ndarray-like
     10.5 Series is dict-like
     10.6 Vectorized operations and label alignment with series
   
11.Data frames

     11.1 From dict of series or dicts
     11.2 from dict of ndarrays/lists
     11.3 from a list of dicts
     11.4 from a list of tuples
     11.5 Alternate constructors
     11.6 Column selection, addition, deletion
     11.7 Indexing/ selection
     11.8 Data alignment
     11.9 transposing

# 1. Introduction

## 1.1 What is python

Guido Van Rossum developed the Python language in the late 1980s. In contrast to other popular languages such as C, C++, Java, and C#, Python strives to provide a simple but powerful syntax.It is open source general purpose language with great interactive environment.It provides all the three types of programming features Object Oriented, Procedural and Functional.It is used by many of the most highly productive professional programmers.Moreover, Python can also become a common language for production of web based analytics product. A few of the places that use Python extensively are Google, the New York Stock Exchange, Industrial Light,Magic etc.
#### Important features of Python:
 -  Built-in high level data types: strings, lists, dictionaries, etc.
 -  The usual control structures: if, if-else, if-elif-else, while, plus a powerful collection iterator (for).
 -  Multiple levels of organizational structure: functions, classes, modules, and  packages. These assist in organizing code. An excellent and large example is the Python standard library.
 - Compile on the fly to byte code -- Source code is compiled to byte code without a separate compile step. Source code modules can also be "pre-compiled" to byte code files.
 - Object-oriented -- Python provides a consistent way to use objects: everything is an object. And, in Python it is easy to implement new object types (called classes in object-oriented programming).
 - Extensions in C and C++ -- Extension modules and extension types can be written by hand. There are also tools that help with this, for example, SWIG, sip, Pyrex

# 2. Data types

There are various data types in Python. Some of the important types are listed below.

## 2.1 Variables

 - Python variables do not need explicit declaration to reserve memory space.
 - The declaration happens automatically when you assign a value to a variable.
 - The equal sign = is used to assign values to variables.
  
  Some examples are given as follows:

In [ ]:
area = 200.30  #float type variable
height = 50.5 #add float type variable height
Distance = 100 #integer type variabe
age = 25 #add integer type variable age
name = 'Sara' #string type variable
course = 'IAT481' #add string type variable course

#print all values
print (area)
print (height)
print(Distance)
print(age)
print(name)
print(course)

200.3
50.5
100
25
Sara
IAT481

## 2.2 Numbers

 - This data type store numeric values
 - Numbers are immutable data types (Immutable data types means values cannot be changed after it is created)

  Some examples are given as follows:

In [ ]:
8 #integer change integer 5 to 8

8

In [ ]:
30+20 #integer change 10+10 to 30+20

50

In [ ]:
6.5+3.5 #float change 5.5+5.5 to 6.5+3.5

10.0

In [ ]:
2**3 #exponent change 5**2 to 2**3

8

## 2.3 Strings

 - Strings in Python are identified as a contiguous set of characters represented in the quotation marks.
 - Python allows either pair of single or double quotes.
 - Strings are immutable.
 - Python doesn't support Char data type.It will beas string of length one in python.

In [ ]:
Course="Artificial Intelligence"
name1='Sara'
name2='Shirley'
print(name1, Course)
print(name2, Course)

Sara Artificial Intelligence
Shirley Artificial Intelligence

### Access values in strings

 - we can access a specific character or range of characters from strings.
 - Subsets of strings can be taken using the slice operator [] and [:] with indexes starting from 0.

 Some examples are listed below:

In [ ]:
stringVariable = 'Hello World'

print("stringVariable[0]:", stringVariable[0])
print("stringVariable[1:5]:", stringVariable[1:5])
print("stringVariable[0:2]:", stringVariable[0:2])

stringVariable[0]: H
stringVariable[1:5]: ello
stringVariable[0:2]: He

### Updating string

 - Value of string can be changed or updated by assigning a new value to it.
 - New value must have same data type as previous value.
 - For this purpose '+' operator is used as follows:

In [ ]:
stringVariable ="Hello World "
stringVariable1 = stringVariable[:6]+"Python"
stringVariable2 = "Python" + stringVariable[5:]


print ("updated string:",stringVariable1)
print ("updated string:",stringVariable2)

updated string: Hello Python
updated string: Python World

### Delete string

 - we can delete the value of string by just deleteing its object.
 - 'del' keyword is used for this purpose

  It would be cleared by using following example:

In [1]:
stringVariable1 ="Hello World "
stringVariable2 ="Python World "
print (stringVariable1)
print (stringVariable2)
del stringVariable1
del stringVariable2
print (stringVariable1)
print (stringVariable2)

Hello World
Python World

NameError: name 'stringVariable1' is not defined

### String special operators

 - some special operators are used in Python to perform different opertions.
   These are given below:

#### String Concatenation

 - To concatenate the strings we used '+' operator.

    Following are the examples of concatenation:

In [ ]:
stringvalue1="machine"
stringvalue2="learning"
stringvalue3="hello"
stringvalue4="world"
print(stringvalue1+stringvalue2)
print(stringvalue3+" "+stringvalue4)

machinelearning
hello world

#### Repitition

 - '*' symbol is used for repitition.

In [ ]:
stringvalue1="Assignment"
stringvalue2="Python"
print(stringvalue1*2)
print(stringvalue2*4)

AssignmentAssignment
PythonPythonPythonPython

#### Use of [] symbol

 - '[]'symbol give the character of string at given index.

In [ ]:
Stringvalue="Machine Learning"
print(Stringvalue[1])
print(Stringvalue[0])

a
M

#### Use of [:] symbol

 - [:] is used to get substring from string.

In [ ]:
stringvalue="Hello"
print(stringvalue [1:3])
print(stringvalue [0:2])

el
He

#### use of 'in'

 - 'in' is used to check the existance of character in string.
 - It returns TRUE if given character exist in string,otherwise FALSE.

In [ ]:
Stringvalue="Hello"
print('H' in Stringvalue)
print('l' in Stringvalue)
print('a' in Stringvalue)

True
True
False

#### Use of "not in"

 - 'not in' returns true if given character is not in string,otherwise false.

In [ ]:
Stringvalue="Hello"
print('G' not in Stringvalue)
print('H' not in Stringvalue)

True
False

### String formatting operator

 - Python uses C-style string formatting to create new, formatted strings.
 - The "%" operator is used to format in print statement.

See following examples:

In [ ]:
print("My name is %s and weight is %d kg!" % ("Sara", 21))
print("I'm studying in %s and I have couses %d days a week." % ("SFU", 4))

My name is Sara and weight is 21 kg!
I'm studying in SFU and I have couses 4 days a week.

## 2.4 Lists

 - Multiple types of data can be stored in a list.
 - A list contains items separated by commas and enclosed within square brackets [].
 - Individual elements of a list can be changed
 - list indices start with 0 just like arrays.

In [ ]:
list1 = [ 'Mary', 2000 ]
list2 = ['Python', 500]

print (list1) # Prints complete list
print (list2)

['Mary', 2000]
['Python', 500]

### Accessing values in list

 - Square brackets are used to access the values of a list
 - We can access specific values or range of values from a list

In [ ]:
list1 = [ 'Physics' , 'Chemistry' , 1857, 3290]
list2 = [1,2,3,4,5,6,7]

print("list1[0]: ", list1[0])
print("list1[2]: ", list1[2])
print("list2[1:5]: ", list2[1:5])
print("list2[0:3]: ", list2[0:3])

list1[0]:  Physics
list1[2]:  1857
list2[1:5]:  [2, 3, 4, 5]
list2[0:3]:  [1, 2, 3]

### Updating list

 - Value of string can be changed or updated by assigning a new value to it.
 - we can update single or multiple elements of a list by giving slice on left hand of the assignment operator.
 - we can also update list by using append() function.

In [ ]:
list1=["dell","Hp","Apple"]
list1[1]="samsung"
print(list1)
list1[0]="razer"
print(list1)

list1.append('acer')
print(list1)
list1.append('lenovo')
print(list1)

['dell', 'samsung', 'Apple']
['razer', 'samsung', 'Apple']
['razer', 'samsung', 'Apple', 'acer']
['razer', 'samsung', 'Apple', 'acer', 'lenovo']

### Delete List Element

- we can delete the element of list by using del keyword or remove()function.
- 'del' keyword is used when you know the position or index of element to be deleted.
- remove() function can be used when you don't know the postion of element to be removed.

  It would be cleared by using following example:

In [ ]:
list1=["dell","Hp","Apple"]
print (list1) # Prints complete list
del list1[1]
print("After deleting the value ")
print (list1)

del list1[0]
print (list1)

['dell', 'Hp', 'Apple']
After deleting the value
['dell', 'Apple']
['Apple']

In [ ]:
list1=["dell","Hp","Apple"]
print (list1) # Prints complete list

list1.remove('Hp')
print("After deleting the value ")
print (list1)

list1.remove('dell')
print (list1)

['dell', 'Hp', 'Apple']
After deleting the value
['dell', 'Apple']
['Apple']

## 2.5 Dictionaries

 - Dictionary is an unordered set of key: value pairs, with the requirement that the keys are unique (within one dictionary).
 - Each key is seperated by colon(:) from its value.
 - Each item is seperated with comma(,).
 - A pair of braces creates an empty dictionary: {}.
 - Python's dictionaries are kind of hash-table type.
 - A dictionary key can be almost any Python type, but are usually numbers or strings. Values, on the other hand, can be any       arbitrary Python object.
 - Dictionaries are enclosed by curly braces ({ }) and values can be assigned and accessed using square braces ([])
 - Dictionaries have no concept of order among elements. It is incorrect to say that the elements are "out of order"; they are simply unordered

## Accessing value in dictionary

- Square brackets [] along with the key are used to access its value.

In [ ]:
dict1 = {'Name':"Sara" , "Department" : "SIAT", "Batch":2023}
print(dict1['Name'])
print(dict1['Department'])
print(dict1['Batch'])

Sara
SIAT
2023

### Updating Dictionary

- we can update values in dictionary
- we can also add new values in dictionary

Some examples are given below:

In [ ]:
dict1 = {'Name':"Sara" , "Department" : "SIAT", "Batch":2023}
print(dict1)
dict1['Batch']="S23"
print(dict1)
dict1['Name']="Shirley"
print(dict1)

{'Name': 'Sara', 'Department': 'SIAT', 'Batch': 2023}
{'Name': 'Sara', 'Department': 'SIAT', 'Batch': 'S23'}
{'Name': 'Shirley', 'Department': 'SIAT', 'Batch': 'S23'}

### Delete Dictionary element

- we can delete elements of dictionary as well as complete content of dictionary.
- To delete single element del keyword is used.
- clear() function  is used to remove complete dictionary.

 Some examples are as follows:

In [ ]:
dict1 = {'Name':"Sara" , "Department" : "SIAT", "Batch":2023}
print(dict1)

del dict1['Batch']
print(dict1)

del dict1['Department']
print(dict1)

{'Name': 'Sara', 'Department': 'SIAT', 'Batch': 2023}
{'Name': 'Sara', 'Department': 'SIAT'}
{'Name': 'Sara'}

In [ ]:
dict1 = {'Name':"Sara" , "Department" : "SIAT", "Batch":2023}
dict1.clear()
print(dict1)

dict2 = {'Name':"Shirley" , "Height" : 168, "Age": 20}
dict2.clear()
print(dict2)

{}
{}

## 2.6 Tuples

 - A tuple is another sequence data type that is similar to the list.
 - A tuple consists of a number of values separated by commas. Unlike lists, however, tuples are enclosed within parenthesis.
 - The main difference between lists and tuples are − Lists are enclosed in brackets ( [ ] ) and their elements and size can be  changed, while tuples are enclosed in parentheses ( ( ) ) and cannot be updated. Tuples can be thought of as read-only lists.   
 - It can also have multiple data type values.

  For example:

### Accessing values in Tuples

- Square brackets [] along with the index are used to access its value.

In [2]:
tuple1 = ( 'simon','sara' , '20', 'saira40')

print (tuple1)
print(tuple1[1:3])
print(tuple1[0:2])

('simon', 'sara', '20', 'saira40')
('sara', '20')
('simon', 'sara')

### Updating Tuples

- Tuples are immutable means we cannot change the value of tuple.
- It is read only.
- we are able to take portions of tuples to make a new tuple.

In [ ]:
tuple1=('sun','mon','tue','wed','thur','fri' , 'sat')
tuple2=(1,2,3,4,5,6,7)
print(tuple1)
print(tuple2)
tuple3=(tuple1+tuple2)
print(tuple3)
tuple4=(tuple2+tuple1+tuple3)
print(tuple4)

('sun', 'mon', 'tue', 'wed', 'thur', 'fri', 'sat')
(1, 2, 3, 4, 5, 6, 7)
('sun', 'mon', 'tue', 'wed', 'thur', 'fri', 'sat', 1, 2, 3, 4, 5, 6, 7)
(1, 2, 3, 4, 5, 6, 7, 'sun', 'mon', 'tue', 'wed', 'thur', 'fri', 'sat', 'sun', 'mon', 'tue', 'wed', 'thur', 'fri', 'sat', 1, 2, 3, 4, 5, 6, 7)

### Delete tuple elements

- we cannot delete single elements of tuple because they cannot be updated.
- To delete entire elements del keyword is used.

 Some examples are as follows:

In [1]:
tuple1=('sun','mon','tue','wed','thur','fri' , 'sat')
tuple2=(1,2,3,4,5,6,7)
print(tuple1)
print(tuple2)
del(tuple1)
del(tuple2)
print(tuple1)
print(tuple2)

('sun', 'mon', 'tue', 'wed', 'thur', 'fri', 'sat')
(1, 2, 3, 4, 5, 6, 7)

NameError: name 'tuple1' is not defined

# 2.7 Sets

 - A set is an unordered collection in which each value occurs at most once.
 - You can use curly braces to give an expression whose value is a set.
 - Python prints sets using curly braces.
 - Every value in a set is immutable but the set itself is immutable we can add o remove items from it.
 - Sets can be used to perform mathematical operations like union,intersection,etc
 - Empty set will be written as {}.
 - We can also make a set from a list using set() function.
 - Data type can be found using type() function.
 - add() is used to add single value, update() is used for adding multiple values.
 - update() function can take tuple,string,list or other set as argument.
 - discard() and remove() are used to delete specific item from list.
 - discard() will not raise an error if item doesn't exist.
 - remove() will raise an error if item doesn't exist in set.
 - The cardinality of a set S is the number of elements in the set.
 - In Python, the cardinality of a set is obtained using the function len(·).

In [ ]:
#list
list1=[1,2,3,4,5]

print(type(list1))

my_set=set(list1)

print(type(my_set))

#set of integers
my_set={1,2,3}
print(my_set)

#set of mixed data types
my_set={1, "Hello"}
my_set={1, 2, "Python"}
print(my_set)

#adding a single value
my_set.add("D")
my_set.add("G")
print(my_set)

#adding multiple values
my_set.update(list1)
print(my_set)


my_set.discard('G') #it will not raise an error
my_set.remove('D') #it will raise an error change 'G' to 'D'
print(my_set)

<class 'list'>
<class 'set'>
{1, 2, 3}
{1, 2, 'Python'}
{1, 2, 'G', 'D', 'Python'}
{1, 2, 3, 4, 5, 'G', 'D', 'Python'}
{1, 2, 3, 4, 5, 'Python'}

# 3.Comparison Operators

 - Comparison operators are used to compare values and return TRUE/FALSE according to the situation.
 - Python defines the following comparison operators:

### Less than operator  (<)

In [ ]:
20<8

False

### Less than equal to operator (<=)

In [ ]:
5<=10

True

### Equal to operatoe (==)

In [ ]:
6==16

False

In [ ]:
"Sara"=="Sara"

True

In [ ]:
"ALI"=="ALi"

False

### Not equal to operator (!=)

In [ ]:
5!=5

False

### OR Operator

In [ ]:
(10!=10)or(10<17)

True

### And operator

In [ ]:
(10!=10)and(10<17)

False

# 4.If else statement

 - The if–else is used to make choices in Python code.
 - This is a compound statement.
 - The syntax is:
 - if c o n d i t i o n
          action −1
  else :
          action −2
 - The indentation is required

In [4]:
x = 3
if x > 0:
    print(" sunday is wonderful")
else :
    print(" Monday is Good ")

if x < 0:
    print("I love Sunday")
else :
    print("I love Monday")

 sunday is wonderful
I love Monday

In [6]:
if 25 % 2:
  print("Odd")
else:
  print("Even")

if 26 % 2:
  print("Even")
else:
  print("Odd")

Even
Odd

# 5.For and while loop

- Python has for and while loop for iteration,used when we want to perfrom a specific task repeatedly.

### For loop

- The for statement is used to iterate over the elements of a sequence.
- It's traditionally used when you have a piece of code which you want to repeat n number of time.
- The syntax of a for loop is:

    for item in list :
      a c t i o n
- As usual, the action consists of one or more statements, all at the same indentation level. These statements are also known as the body of the loop. The item is a variable name, and list is a list.
- Execution of the for loop works by setting the variable successively to each item in the list, and then executing the body each time.

  Here is a simple example:

In [1]:
for i in [2 , 4 , 6 , 0]:
    print(i)

for j in [10 , 20 , 30 , 40]:
    print(j)

2
4
6
0
10
20
30
40

In [2]:
for counter in range(1, 6):
    print (counter)

for i in range(0, 3):
    print (i)

1
2
3
4
5
0
1
2

In [3]:
word = "sara"
for letter in word:
    print (letter)

course = "481"
for number in course:
    print (number)

s
a
r
a
4
8
1

### While loop

In [4]:
a=0
while a < 10:
  a=a+1
  print(a)

b=10
while b > 5:
  b=b-1
  print(b)

1
2
3
4
5
6
7
8
9
10
9
8
7
6
5

# 6.Functions

 - You use functions in programming to bundle a set of instructions that you want to use repeatedly or that, because of their  complexity, are better self-contained in a sub-program and called when needed.                                 
 - Function is a piece of code written to carry out a specified task.
 - There are three types of functions in Python:
 - Built-in functions, such as help() to ask for help, min() to get the minimum value, print() to print an object.
 - User-Defined Functions (UDFs), which are functions that users create to help them out.
 - Anonymous functions, which are also called lambda functions because they are not declared with the standard def keyword.
 - The syntax is:

   def functionname(parameters)
    
   "function_docstring"
   
   function_suite
   
   return [expression]

In [5]:
def my_function(name):
  #This prints a passed string into this function
    print(name)
    return;

#Now you can call my_function
my_function("Mary")

def course_function(course):
    print(course)
    return;

course_function("IAT481")

Mary
IAT481

# 7.Lambda Functions

 - The creation of anonymous functions at runtime,using a construct called "lambda"
 - A lambda function is a small anonymous function.
 - A lambda function can take any number of arguments, but can only have one expression.
 - Lambda function does not include return statement,it always contains an expression which is returned.
 - You might want to use lambdas when you don’t want to use a function twice in a program.

   some examples are given:

In [6]:
#Normal Function
def f (x):
  return x**2
print (f(8))

def g (x):
  return x+8
print (g(2))

64
10

In [19]:
times3 = lambda var:var*3
print(times3(10))

sum10 = lambda var:var+10
print(sum10(4))

#lamba expressions : another way to write a function in line

30
14

In [20]:
add = lambda x, y: x + y
print(add(3, 5))

subtract = lambda x, y: x - y
print(subtract(5,3))

8
2

## 7.1 Map()

 - Map() function is used with two arguments.Just like: r=map(func,seq)
 - The first argument func is function name and the second is a sequence(list etc)
 - Map functions expects a function object and any number of iterables like list, dictionary, etc.
 - It executes the function_object for each element in the sequence and returns a list of the elements modified by the function  object.

   Example:

In [24]:
sentence = "It is raining cats and dogs"
words = sentence.split()
print(words)

lengths= map(lambda word :len(word), words)
print(list (lengths))

courses = "Math English Music"
disciplines = courses.split()
print(disciplines)

discipline_len = map(lambda discipline: len(discipline), disciplines)
print(list (discipline_len))

['It', 'is', 'raining', 'cats', 'and', 'dogs']
[2, 2, 7, 4, 3, 4]
['Math', 'English', 'Music']
[4, 7, 5]

## 7.2 Filter()

 - The filter() method filters the given iterable with the help of a function that tests each element in the iterable to be true or not.
 - The syntax of filter() method is:
      filter(function, iterable)
 - The filter() method takes two parameters:

      1)function - function that tests if elements of an iterable returns true or false If None, the function defaults to Identity function - which returns false if any elements are false
      
      2)iterable - iterable which is to be filtered, could be sets, lists, tuples, or containers of any iterators
 - The filter() method returns an iterator that passed the function check for each element in the iterable.

In [27]:
# list of alphabets
alphabets = ['a', 'b', 'd', 'e', 'i', 'j', 'o']

# function that filters vowels
def filterVowels(alphabet):
    vowels = ['a', 'e', 'i', 'o', 'u']

    if(alphabet in vowels):
        return True
    else:
        return False

for i in filter(filterVowels, alphabets):
     print(i)

numbers = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

def filterEven(number):
  evens = ['0', '2', '4', '6', '8']

  if(number in evens):
    return True
  else:
    return False
for j in filter(filterEven, numbers):
  print(j)

a
e
i
o
0
2
4
6
8

In [35]:
# random list
randomList = [1, 'a', 0, False, True, '0']

filteredList = filter(None, randomList)

print('The filtered elements are:')
for element in filteredList:
    print(element)

randomCourses = ['IAT481', False, 'IAT410', 0, 'IAT336', "IAT355"]

filteredCourses = filter(None, randomCourses)

print('The filtered courses are:')
for element in filteredCourses:
    print(element)

The filtered elements are:
1
a
True
0
The filtered courses are:
IAT481
IAT410
IAT336
IAT355

In [37]:
ages = [5, 12, 17, 18, 24, 32]

def myFunc(x):
  if x < 18:
    return False
  else:
    return True

adults = filter(myFunc, ages)

for x in adults:
  print(x)

def underageFunc(y):
  if y < 18:
    return True
  else:
    return False

underages = filter(underageFunc, ages)

for y in underages:
  print(y)

18
24
32
5
12
17

# 8.File I/O

 - In this section we will cover basic I/O functions.

## Reading input from keyboard

 -  There are two functions in Python that you can use to read data from the user:raw_input and input
 -  You can store the results from them into a variable
 -  If the input function is called, the program flow will be stopped until the user has given an input and has ended the input  with the return key. The text of the optional parameter, i.e. the prompt, will be printed on the screen.

 Let's have a look at the following example:

In [38]:
name = raw_input("What's your name? ")
print("Nice to meet you " + name + "!")

age = raw_input("How old are you?")
print("I'm " + age + " years old.")

NameError: name 'raw_input' is not defined

In [39]:
age = raw_input("What's your age? ")
print("your age is " + age + "!")

time = raw_input("How long do you study every day? ")
print("I study " + time + " hours every day.")

NameError: name 'raw_input' is not defined

In [40]:
string=raw_input("enter your university....")
print(string)

string=raw_input("enter your hometown")
print(string)

NameError: name 'raw_input' is not defined

## I/O From or to text file

 - In this scenario, we will read and write to a text file.
 - we can open files in different modes.

## Read only mode

 - r opens a file in read only mode.
 - The file pointer is placed at the beginning of the file.
 - This is the default mode.

In [41]:
file = open("hello.txt", "r")
str=file.read();
print(str)
file.close()

file = open("python.txt", "r")
str=file.read();
print(str)
file.close()

FileNotFoundError: [Errno 2] No such file or directory: 'hello.txt'

## Read and write mode

 - r+ opens a file in read and write mode.
 - The file pointer placed at the beginning of the file

In [3]:
# Open a file
file = open("hello.txt", "r+")
str = file.read(10);
print ("Read String is : ", str)

file = open("python.txt", "r+")
str = file.read(10);
print ("Read String is : ", str)
# Close opend

FileNotFoundError: [Errno 2] No such file or directory: 'hello.txt'

## Write mode only

 - w opens a file in write mode only.
 - Overwrites the file if the file exists. If the file does not exist, creates a new file for writing

In [ ]:
file = open('write.txt','w')
file.write("This is the write command")
file.write("It allows us to write in a particular file")
file = open('write.txt','r')
str=file.read()
print(str)
file.close()

file = open('python.txt','w')
file.write("This is the write command")
file.write("It allows us to write in a particular file")
file = open('python.txt','r')
str=file.read()
print(str)
file.close()

## Append mode

 - a opens a file in append mode.
 - The file pointer is at the end of the file if the file exists.
 - That is, the file is in the append mode. If the file does not exist, it creates a new file for writing.

In [ ]:
file = open('write.txt','a')
file.write("This will add this line")
file = open('write.txt','r')
str=file.read()
print(str)
file.close()

file = open('python.txt','a')
file.write("This will add this line")
file = open('python.txt','r')
str=file.read()
print(str)
file.close()

## Append and read mode

 - a+ opens a file in append and read mode.
 - The file pointer is at the end of the file if the file exists. The file opens in the append mode. If the file does not exist,    it creates a  new file for reading and writing.

In [ ]:
file = open('hello.txt','a+')
file.write("MSCS From comsats university")
file.close()
file = open('hello.txt','r')
str=file.read()
print(str)
file.close()

file = open('python.txt','a+')
file.write("MSCS From comsats university")
file.close()
file = open('python.txt','r')
str=file.read()
print(str)
file.close()

## File Position

 - tells() method tells the current position within the file.
 - seek() method changes the current file method.
 - Following is the syntax for seek() method:    fileObject.seek(offset[, whence])

In [ ]:
f = open('hello.txt',"r+")
str=f.read(20);
print("read string is :",str)

position=f.tell();
print("current file position is :",position)

position=f.seek(5);
str=f.read(10);
print("again read string is :",str)
f.close()

f = open('python.txt',"r+")
str=f.read(20);
print("read string is :",str)

position=f.tell();
print("current file position is :",position)

position=f.seek(5);
str=f.read(10);
print("again read string is :",str)
f.close()

# 9.Pandas Introduction

Pandas is an open-source Python Library providing high-performance data manipulation and analysis tool using its powerful data structures. The name Pandas is derived from the word Panel Data – an Econometrics from Multidimensional data. In 2008, developer Wes McKinney started developing pandas when in need of high performance, flexible tool for analysis of data.

Prior to Pandas, Python was majorly used for data munging and preparation. It had very less contribution towards data analysis. Pandas solved this problem. Using Pandas, we can accomplish five typical steps in the processing and analysis of data, regardless of the origin of data — load, prepare, manipulate, model, and analyze.

Python with Pandas is used in a wide range of fields including academic and commercial domains including finance, economics, Statistics, analytics, etc.

#### Key Features of Pandas

-  Fast and efficient DataFrame object with default and customized indexing.
-  Tools for loading data into in-memory data objects from different file formats.
-  Data alignment and integrated handling of missing data.
-  Reshaping and pivoting of date sets.
- Label-based slicing, indexing and subsetting of large data sets.
- Columns from a data structure can be deleted or inserted.
- Group by data for aggregation and transformations.
- High performance merging and joining of data.
- Time Series functionality.

Pandas deals with the following three data structures:
- Series
- DataFrame
- Panel

These data structures are built on top of Numpy array, which means they are fast.

# 10.Series

- The Series is a one-dimensional array that can store various data types, including mix data types.
- The row labels in a Series are called the index.
- Any list, tuple and dictionary can be converted in to Series using ‘series’ method
- Basic method to create a series: s = pd.Series(data, index = index)
- Series is size immutable.

In [6]:
import pandas as pd
s = pd.Series([1, 'Lahore', 2, 3, 'Happy Eating!'])
print(s)

import pandas as pd
s = pd.Series([481, 'AI', 'Python World'])
print(s)

0                1
1           Lahore
2                2
3                3
4    Happy Eating!
dtype: object
0             481
1              AI
2    Python World
dtype: object

## 10.1 Series creation from ndarray

- Index must be of same length as data. If no index is passed, it will automatically be [0, ..., len(data) - 1]

In [7]:
first_series = pd.Series([1,2,4,8,16,32,64])
print(type(first_series))
print(first_series)

course_series = pd.Series(['IAT481', 'IAT410', 'IAT336'])
print(type(course_series))
print(course_series)

<class 'pandas.core.series.Series'>
0     1
1     2
2     4
3     8
4    16
5    32
6    64
dtype: int64
<class 'pandas.core.series.Series'>
0    IAT481
1    IAT410
2    IAT336
dtype: object

In [14]:
import pandas as pd
import numpy as np
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print(s)
print('-'*50)
print(s.index)

import pandas as pd
import numpy as np
s = pd.Series(np.random.randn(3), index=['I', 'II', 'III'])
print(s)
print('-'*50)
print(s.index)

a   -0.482902
b    1.280186
c   -2.548057
d    0.559463
e   -0.006236
dtype: float64
--------------------------------------------------
Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
I     -3.522660
II     0.484977
III    0.009473
dtype: float64
--------------------------------------------------
Index(['I', 'II', 'III'], dtype='object')

## 10.2 Series creation from dict

- If Data is a dictionary, if index is passed the values in data corresponding to the labels in the index will be pulled out, otherwise an index will be constructed from the sorted keys of the dict.

In [17]:
d = {'a': 100., 'b': 200., 'c': 300.}
print(pd.Series(d))

s = {'I': 10., 'II': 20., 'III': 30.}
print(pd.Series(s))

a    100.0
b    200.0
c    300.0
dtype: float64
I      10.0
II     20.0
III    30.0
dtype: float64

In [20]:
data = {'abc': 1, 'def': 2, 'xyz': 3}
print(pd.Series(data))

data = {'123': 1.5, '456': 2.5, '789': 3.5}
print(pd.Series(data))

abc    1
def    2
xyz    3
dtype: int64
123    1.5
456    2.5
789    3.5
dtype: float64

## 10.3 Series creation from a scalar value

- Index must be provided. The value will be repeated to match the length of the index

In [22]:
print(pd.Series(5, index = ['a', 'b', 'c']))
print(pd.Series(3.0, index = ['I', 'II', 'III']))

a    5
b    5
c    5
dtype: int64
I      3.0
II     3.0
III    3.0
dtype: float64

In [25]:
 x = pd.Series(3, index=['a', 'b', 'c', 'd'])
print(x)

 y = pd.Series(5.0, index = ['I', 'II', 'III'])
print(y)

a    3
b    3
c    3
d    3
dtype: int64
I      5.0
II     5.0
III    5.0
dtype: float64

## 10.4 Series is ndarray-like

- Series acts similar to a numpy array, and is valid arguments to most numpy functions.
- Slicing also slices the index
- Short Intro, back to this later

In [26]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print(s)

s = pd.Series(np.random.randn(3), index=['I', 'II', 'III'])
print(s)

a    0.342994
b    0.171191
c    0.265217
d   -0.605091
e    0.035150
dtype: float64
I     -0.294393
II    -0.867953
III   -1.362323
dtype: float64

In [10]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print(s.iloc[1:4])
print(s.iloc[0:2])

b   -0.259774
c   -0.300718
d   -1.802013
dtype: float64
a   -2.084900
b   -0.259774
dtype: float64

In [30]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print(s[:3])

s = pd.Series(np.random.randn(3), index=['I', 'II', 'III'])
print(s[1:])

a    2.894999
b   -1.032064
c    0.418852
dtype: float64
II     2.059162
III    0.193540
dtype: float64

In [31]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print(s[[3,2,1]])

s = pd.Series(np.random.randn(3), index=['I', 'II', 'III'])
print(s[[2,0,1]])

d    1.614991
c   -0.321778
b   -0.928167
dtype: float64
III   -0.989588
I     -1.897386
II     0.822876
dtype: float64

In [34]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print(np.exp(s))

s = pd.Series(np.random.randn(3), index=['I', 'II', 'III'])
print(np.exp(s))

a    0.612192
b    1.739104
c    1.584077
d    2.415929
e    1.126373
dtype: float64
I      0.597199
II     2.108180
III    0.235384
dtype: float64

In [36]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print(s['b'])

s = pd.Series(np.random.randn(3), index=['I', 'II', 'III'])
print(s['I'])

0.6586269522213256
-0.2637042154045033

In [37]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
s['b']=12.
print(s)

s = pd.Series(np.random.randn(3), index=['I', 'II', 'III'])
s['I']=3.
print(s)

a    -0.958057
b    12.000000
c    -0.786085
d     1.628727
e     0.099309
dtype: float64
I      3.000000
II    -0.266557
III    0.088213
dtype: float64

In [39]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print('e' in s)
print('a' in s)

True
True

In [40]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print('f' in s)
print('g' in s)

False
False

## 10.5 Series is dict-like

- A Series is like a xed-size dict in that you can get and set values by index label

In [43]:
s = pd.Series([1, 2, 3, 4])
print(s.to_dict())

s = pd.Series([2.0, 4.0, 6.0])
print(s.to_dict())

{0: 1, 1: 2, 2: 3, 3: 4}
{0: 2.0, 1: 4.0, 2: 6.0}

## 10.6 Vectorized operations and label alignment with Series

- When doing data analysis,as with the row NumPy arrays looping through series value by value is usually not necessary.
- Series can also be passed into most NumPy method expecting an ndarray.
- NumPy and Pandas generalize arithmetic operations so that we can easily and quickly perform the same operation on many array elements. For example:

In [45]:
import numpy as np
x = np.array([2, 3, 5, 7, 11, 13])
print(x * 2)

import numpy as np
y = np.array([3.0, 9.6, 12.9])
print(y / 3)

[ 4  6 10 14 22 26]
[1.  3.2 4.3]

In [47]:
data = ['saima', 'aisha', 'faiza', 'saira']
print([s.capitalize() for s in data])

data = ['sara', 'jacky', 'shirley', 'mike']
print([s.capitalize() for s in data])

['Saima', 'Aisha', 'Faiza', 'Saira']
['Sara', 'Jacky', 'Shirley', 'Mike']

# 11.Data Frames

- A DataFrame is a two dimensional object that can have columns with potential different types. Different kind of inputs include dictionaries, lists, series, and even another DataFrame.
- It is the most commonly used pandas object.
- You can create a series from:
    - Dict of 1D ndarrays, lists, dicts, or Series
    - 2-D numpy array
    - A list of dictionaries
    - A Series
    - Another Dataframe
  
- index/ columns is a list of the row/ column labels. If you pass an index and/ or columns, you are guarenteeing the index and /or column of the df.
- If you do not pass anything in, the input will be constructed by "common sense" rules

In [50]:
dates = pd.date_range('20130101',periods=6)
print(dates)

dates = pd.date_range('20240101',periods=3)
print(dates)

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03'], dtype='datetime64[ns]', freq='D')

## 11.1 Dataframe creation from dict of series or dicts

 - The index of the resulting DataFrame will be the union of the indices of the various Series. If there are any nested dicts, these will be converted to Series.
 - If no columns are passed, the columns will be the sorted list of dict keys.

In [51]:
# Create a dictionary of series
d = {'one': pd.Series([1,2,3], index = ['a', 'b', 'c']),
'two': pd.Series(list(range(4)), index = ['a','b', 'c', 'd'])}
# Columns are dictionary keys, indices and values obtained from series
df = pd.DataFrame(d)
# Notice how it fills the column one with NaN for d
print(df)

d = {'a': pd.Series([2,4,6], index = ['a', 'b', 'c']),
'b': pd.Series(list(range(4)), index = ['a','b', 'c', 'd']),
'c': pd.Series([5, 6, 7, 8], index = ['a','b', 'c', 'd'])}
df = pd.DataFrame(d)
print(df)

   one  two
a  1.0    0
b  2.0    1
c  3.0    2
d  NaN    3
     a  b  c
a  2.0  0  5
b  4.0  1  6
c  6.0  2  7
d  NaN  3  8

In [53]:
 d = {'col1': [1, 2], 'col2': [3, 4]}
 df = pd.DataFrame(data=d)
 print(df)

 d = {'a': [2, 4], 'b': [6, 9]}
 df = pd.DataFrame(data=d)
 print(df)

   col1  col2
0     1     3
1     2     4
   a  b
0  2  6
1  4  9

## 11.2  Dataframe creation from dict of ndarrays/lists

 - The ndarrays must all be the same length.
 - If an index is passed, it must clearly also be the same length as the arrays. If no index is passed, the result will be range(n), where n is the array length.

In [54]:
d = {'one' : [1., 2., 3., 4.], 'two' : [4., 3., 2., 1.]}
print(pd.DataFrame(d))

d = {'a' : [1.5, 2.5, 3.5, 4.5], 'b' : [4.3, 3.2, 2.1, 1.5]}
print(pd.DataFrame(d))

   one  two
0  1.0  4.0
1  2.0  3.0
2  3.0  2.0
3  4.0  1.0
     a    b
0  1.5  4.3
1  2.5  3.2
2  3.5  2.1
3  4.5  1.5

In [57]:
df2 = pd.DataFrame(np.random.randint(low=0, high=10, size=(5, 5)), columns=['a', 'b', 'c', 'd', 'e'])
print(df2)

df2 = pd.DataFrame(np.random.randint(low=5, high=20, size=(3, 3)), columns=['a', 'b', 'c'])
print(df2)

   a  b  c  d  e
0  0  5  0  5  2
1  3  0  3  2  5
2  1  5  6  5  0
3  6  6  3  6  3
4  3  8  8  6  4
    a   b   c
0   8  17  15
1   6   9   7
2  19   8  12

## 11.3 Dataframe creation from a list of dicts

In [60]:
data = [{'a':10,"b":20},{'a':5,'b':10,'c':20}]
print(pd.DataFrame(data))

data = [{'a':11,'b':12},{'a':15,'b':30,'c':22},{'a':17,'b':20,'c':22}]
print(pd.DataFrame(data))

    a   b     c
0  10  20   NaN
1   5  10  20.0
    a   b     c
0  11  12   NaN
1  15  30  22.0
2  17  20  22.0

In [61]:
data = [{'a':10,"b":20,"c":30},{'a':5,'b':10,'c':20}]
print(pd.DataFrame(data))

data = [{'a':11,'b':12, 'c': 15},{'a':15,'b':30,'c':22},{'a':17,'b':20,'c':22}]
print(pd.DataFrame(data))

    a   b   c
0  10  20  30
1   5  10  20
    a   b   c
0  11  12  15
1  15  30  22
2  17  20  22

## 11.4 Dataframe creation from a dict of tuples

 - You can automatically create a multi indexed by passing a tuple dictionary.

In [62]:
df = pd.DataFrame({'Initial': ['C','A','M'], 'Sex': ['M', 'F', 'F'], 'Age': [49, 39, 19]})
#df = df[['Initial', 'Sex', 'Age']]
print(df)

df = pd.DataFrame({'Sex': ['F', 'M', 'F'], 'Initial': ['B','A','M'], 'Age': [29, 39, 19]})
print(df)

  Initial Sex  Age
0       C   M   49
1       A   F   39
2       M   F   19
  Sex Initial  Age
0   F       B   29
1   M       A   39
2   F       M   19

In [63]:
data = [('p1', 't1', 1, 2),('p1', 't2', 3, 4),('p2', 't1', 5, 6),('p2', 't2', 7, 8),('p2', 't3', 2, 8)]

df = pd.DataFrame(data)
print(df)

data = [(3, 5, 1, 2),('s3', 't2', 3, 4),(6, 't1', 5, 6),('p2', 't2', 7, 8),('p2', 't3', 2, 8)]

df = pd.DataFrame(data)
print(df)

    0   1  2  3
0  p1  t1  1  2
1  p1  t2  3  4
2  p2  t1  5  6
3  p2  t2  7  8
4  p2  t3  2  8
    0   1  2  3
0   3   5  1  2
1  s3  t2  3  4
2   6  t1  5  6
3  p2  t2  7  8
4  p2  t3  2  8

## 11.5 Alternate constructors

### Dataframe.from_dict

 - Dataframe.from_dict takes a dict of dictsor a dict of array like sequences and returns a Dataframe.
 - It operates like the dataframe constructor except for the orient parameter which is coulmn by default,but which can be set to index in order to use the dict keys as row labels.

In [67]:
data = {"X": {'a': 1, 'b': 2, 'c': 3}, "Y": {'d': 4, 'e': 5, 'f': 6}, "Z": {'g': 7, 'h': 8, 'i': 9}}

df = pd.DataFrame.from_dict(data, orient="index").fillna(0).astype(int)
print(df)

data = {"X": {'a': 2, 'b': 3, 'c': 1}, "Y": {'d': 5, 'e': 4, 'f': 6}, "Z": {'g': 8, 'h': 9, 'i': 7}}

df = pd.DataFrame.from_dict(data, orient="index").fillna(0).astype(int)
print(df)

   a  b  c  d  e  f  g  h  i
X  1  2  3  0  0  0  0  0  0
Y  0  0  0  4  5  6  0  0  0
Z  0  0  0  0  0  0  7  8  9
   a  b  c  d  e  f  g  h  i
X  2  3  1  0  0  0  0  0  0
Y  0  0  0  5  4  6  0  0  0
Z  0  0  0  0  0  0  8  9  7

### Dataframe.from_records

- Dataframe.from_records take a list of tuples or an ndarray with structured dtype.
- Works analogously to the normal dataframe constructor,except that index may be aspecific field of the structured dtype to use as the index.for example:

In [68]:
sales = [('Jones LLC', 150, 200, 50),
     ('Alpha Co', 200, 210, 90),
     ('Blue Inc', 140, 215, 95)]
labels = ['account', 'Jan', 'Feb', 'Mar']
df = pd.DataFrame.from_records(sales, columns=labels)
print(df)

sales = [('Jacky', 3000),
     ('Mike', 2000),
     ('Shirley', 5000)]
labels = ['account', 'amount']
df = pd.DataFrame.from_records(sales, columns=labels)
print(df)

     account  Jan  Feb  Mar
0  Jones LLC  150  200   50
1   Alpha Co  200  210   90
2   Blue Inc  140  215   95
   account  amount
0    Jacky    3000
1     Mike    2000
2  Shirley    5000

### Dataframe.from_items

- Convert (key, value) pairs to DataFrame. The keys will be the axis index (usually the columns, but depends on the specified orientation). The values should be arrays or Series.

In [74]:
df=pd.DataFrame.from_items[('A',[1,2,3]),('B',[4,5,6])]

df=pd.DataFrame.from_items[('I',[11,22,33]),('II',[44,55,66])]

AttributeError: type object 'DataFrame' has no attribute 'from_items'

In [75]:
df=pd.DataFrame.from_items([('A',[1,2,3]),('B',[4,5,6])])
print(df)

df=pd.DataFrame.from_items[('I',[11,22,33]),('II',[44,55,66])]
print(df)

AttributeError: type object 'DataFrame' has no attribute 'from_items'

## 11.6 Column selection,addition,deletion

 - You can treat a DataFrame semantically like a dict of like-indexed Series objects. Getting, setting, and deleting columns works with the same syntax as the analogous dict operations:

In [80]:
df = pd.DataFrame([[1,2],[3,4],[5,6]], columns=['a','a']) # you can adress column by index
print(df)

df = pd.DataFrame([[1,2],[3,4],[5,6]], index=['b','b','b'])
print(df)

   a  a
0  1  2
1  3  4
2  5  6
   0  1
b  1  2
b  3  4
b  5  6

In [81]:
df = pd.DataFrame([[1,2],[3,4],[5,6]], columns=['a','a'])
df.columns = ['a','b']  # rename column
print(df)

df = pd.DataFrame([[1,2],[3,4],[5,6]], index=['b','b','b'])
df.index = ['I', 'II', 'III']
print(df)

   a  b
0  1  2
1  3  4
2  5  6
     0  1
I    1  2
II   3  4
III  5  6

In [86]:
df = pd.DataFrame([[1,2],[3,4],[5,6]], columns=['a','b'])
del df['b']   # delete column
print(df)

df = pd.DataFrame([[1,2],[3,4],[5,6]], columns=['I','II'])
del df['I']
print(df)

   a
0  1
1  3
2  5
   II
0   2
1   4
2   6

In [88]:
df = pd.DataFrame([[1,2],[3,4],[5,6]], columns=['a','b'])
df['c']='2'   #add new column c and fill with 2
print(df)

df = pd.DataFrame([[1,2],[3,4],[5,6]], columns=['I','II'])
df['III']=[9,8,7]
print(df)

   a  b  c
0  1  2  2
1  3  4  2
2  5  6  2
   I  II  III
0  1   2    9
1  3   4    8
2  5   6    7

### 11.7 Indexing / seletion

- Row selection, for example, returns a Series whose index is the columns of the DataFrame:
- Pandas now supports three types of Multi-axes indexing; the three types are:
    - .loc()  (label based)
    - .iloc()  (integer based)
    - .ix()    (both label and integer based)
- loc takes two single/list/range operator separated by ','. The first one indicates the row and the second one indicates columns.
- iloc(): Pandas provide various methods in order to get purely integer based indexing. Like python and numpy, these are 0-based indexing.
- ix(): Besides pure label based and integer based, Pandas provides a hybrid method for selections and subsetting the object using the .ix() operator.

#### .loc()

In [91]:
df = pd.DataFrame(np.random.randn(8, 4),
index = ['a','b','c','d','e','f','g','h'], columns = ['A', 'B', 'C', 'D'])

#select all rows for a specific column
print (df.loc[:,'A'])

df = pd.DataFrame(np.random.randn(5, 5),
index = ['a','b','c','d','e'], columns = ['A', 'B', 'C', 'D','E'])

print (df.loc[:, 'C'])

a    0.070927
b    1.318347
c    0.955575
d    0.127773
e   -1.231966
f    0.010751
g    0.415646
h    0.762404
Name: A, dtype: float64
a    0.410221
b   -1.106555
c   -0.025589
d    0.820519
e   -0.274748
Name: C, dtype: float64

In [93]:
import pandas as pd
import numpy as np

In [95]:
df = pd.DataFrame(np.random.randn(8, 4),
index = ['a','b','c','d','e','f','g','h'], columns = ['A', 'B', 'C', 'D'])

# Select all rows for multiple columns, say list[]
print (df.loc[:,['A','C']])

df = pd.DataFrame(np.random.randn(5, 5),
index = ['a','b','c','d','e'], columns = ['A', 'B', 'C', 'D','E'])

print (df.loc[:, ['B','D']])

          A         C
a -0.641351 -0.110868
b  0.525715 -0.915620
c -1.310324 -0.602265
d  0.396412  0.622314
e -0.337826  1.110636
f -0.315464  0.771939
g -0.501864 -1.449670
h  0.534065 -0.159818
          B         D
a  1.208253  1.171740
b -1.533019  1.121027
c  1.092135  0.659946
d  0.677709 -0.191926
e  1.919917 -0.137067

In [96]:
df = pd.DataFrame(np.random.randn(8, 4),
index = ['a','b','c','d','e','f','g','h'], columns = ['A', 'B', 'C', 'D'])

# Select range of rows for all columns
print (df.loc['a':'h'])

df = pd.DataFrame(np.random.randn(5, 5),
index = ['a','b','c','d','e'], columns = ['A', 'B', 'C', 'D','E'])

print (df.loc['b':'d'])

          A         B         C         D
a -0.534592  1.308533 -0.147593  1.142317
b -0.525207  0.183758  0.766915  1.301463
c -0.896634  0.026814  1.002584  0.403447
d  0.157657 -1.423527  1.028056 -0.583718
e -0.752409  0.385559  1.481262 -0.451114
f  2.058682 -0.231389  0.467010  0.381754
g -0.187048  2.022123  0.233171 -0.072969
h  0.951534 -0.315105 -1.767581  0.420705
          A         B         C         D         E
b  0.781782 -0.729278 -0.372584 -0.442491 -0.010924
c -0.022413  0.759249  0.241248 -1.377827  1.759601
d -0.347862 -0.391697 -1.230443  0.402572 -0.562691

#### .iloc()

In [11]:
df = pd.DataFrame(np.random.randn(8, 4), columns = ['A', 'B', 'C', 'D'])

# select all rows for a specific column
print (df.iloc[:4])

df = pd.DataFrame(np.random.randn(5, 5), columns = ['A', 'B', 'C', 'D', 'E'])

# select all rows for a specific column
print (df.iloc[2:5])

          A         B         C         D
0  0.576539 -1.104610 -1.429179  0.177649
1 -1.826913  1.055771 -0.682152  1.371052
2 -1.148094 -0.024407  1.548394 -0.241501
3  1.321364  0.054268 -3.065547  1.659259
          A         B         C         D         E
2 -1.817516  1.652898 -0.143348 -0.481375 -0.177594
3  2.829763  1.122993 -1.065722 -1.593038 -0.577057
4 -1.339791  0.650108 -1.573001 -1.506824 -0.711496

In [13]:
df = pd.DataFrame(np.random.randn(8, 4), columns = ['A', 'B', 'C', 'D'])

# Integer slicing

print (df.iloc[1:5, 2:4])

df = pd.DataFrame(np.random.randn(5, 5), columns = ['A', 'B', 'C', 'D', 'E'])
print (df.iloc[1:3, 1:4])

          C         D
1  1.189559 -1.065050
2  0.328145  1.308158
3  0.148065 -0.266873
4  1.885681  0.231577
          B         C         D
1 -1.660090  0.852326 -1.126372
2  1.851437 -3.034689 -0.030259

#### .ix()

In [ ]:
df = pd.DataFrame(np.random.randn(8, 4), columns = ['A', 'B', 'C', 'D'])

# Integer slicing
print (df.ix[:4])

df = pd.DataFrame(np.random.randn(5, 5), columns = ['A', 'B', 'C', 'D', 'E'])
print (df.ix[1:3])

          A         B         C         D
0 -1.518915 -0.496256 -1.905349  0.325399
1 -1.321410 -0.853576  1.436926 -1.057146
2  0.092644  1.201601 -0.994798 -2.017163
3 -0.045991 -2.069596  0.011527  0.426753
4 -1.180576 -0.290050  0.678418 -1.086825

D:\python\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  after removing the cwd from sys.path.

In [ ]:
df = pd.DataFrame(np.random.randn(8, 4), columns = ['A', 'B', 'C', 'D'])
# Index slicing
print (df.ix[:,'A'])

df = pd.DataFrame(np.random.randn(5, 5), columns = ['A', 'B', 'C', 'D', 'E'])
print (df.ix[:,'B'])

0   -0.470479
1    0.185088
2   -1.624392
3   -0.549156
4    0.494236
5    0.147245
6   -1.273751
7   -0.981244
Name: A, dtype: float64

D:\python\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  This is separate from the ipykernel package so we can avoid doing imports until

## 11.8 Data alignment and arithmetic

 - Data alignment between DataFrame objects automatically align on both the columns and the index (row labels).
 - Again, the resulting object will have the union of the column and row labels.

In [18]:
df1 = pd.DataFrame(np.random.randn(10, 4), columns=['A', 'B', 'C', 'D'])
print(df1)

df11 = pd.DataFrame(np.random.randn(5, 5), columns = ['A', 'B', 'C', 'D', 'E'])
print(df11)

          A         B         C         D
0  1.122211  1.144730 -0.727978 -0.280240
1  0.816105  0.416164 -1.892628  0.105919
2  1.923925  1.029000 -1.844427 -1.497932
3  0.069541 -1.276101  0.771295  1.882939
4 -0.231399 -0.408780  0.232003 -0.510438
5  0.476897 -0.228612 -0.657530  0.746404
6 -0.350440  2.052547 -0.514737  2.752518
7 -0.620235 -0.414261  2.203590 -1.542130
8  0.104710  0.261069 -0.383528  2.234947
9  0.035299 -0.743029  1.500987  0.749386
          A         B         C         D         E
0  0.610593 -0.517976 -1.467936  0.430771 -1.422453
1  1.482947 -1.956309  0.655168  0.281461 -0.533210
2  0.669549 -1.015047  0.183604 -0.085175  1.431433
3 -0.470237 -0.527893 -0.781710  0.689986 -1.526080
4 -0.555651 -0.373391  0.117600  0.988945 -0.713174

In [19]:
df2 = pd.DataFrame(np.random.randn(7, 3), columns=['A', 'B', 'C'])
print(df2)

df22 = pd.DataFrame(np.random.randn(5, 5), columns = ['A', 'B', 'C', 'D', 'E'])
print(df22)

          A         B         C
0  0.136422  0.749860  0.116516
1 -1.375881  1.085303  0.315453
2  0.080601  0.137566  0.802697
3  0.968681 -1.633048 -0.896133
4 -1.456022 -1.041474 -1.281279
5  0.751531  0.568571 -1.317285
6 -0.962081  1.068307  0.889506
          A         B         C         D         E
0  0.279338  2.710555  0.456964  0.646794  1.582282
1 -1.120127  1.187510 -1.244032  0.864914 -0.612160
2 -1.028407  1.137904 -1.176874  0.647033 -0.701067
3 -0.754437 -1.530805  2.708450  1.287411 -1.472518
4  1.073044 -0.145191  0.971880  0.258722 -0.494883

In [21]:
print(df1+df2)
print(df11+df22)

          A         B         C   D
0  1.258633  1.894591 -0.611462 NaN
1 -0.559775  1.501467 -1.577176 NaN
2  2.004527  1.166565 -1.041730 NaN
3  1.038222 -2.909149 -0.124839 NaN
4 -1.687421 -1.450254 -1.049276 NaN
5  1.228428  0.339959 -1.974814 NaN
6 -1.312521  3.120854  0.374769 NaN
7       NaN       NaN       NaN NaN
8       NaN       NaN       NaN NaN
9       NaN       NaN       NaN NaN
          A         B         C         D         E
0  0.889931  2.192579 -1.010972  1.077566  0.159829
1  0.362820 -0.768799 -0.588864  1.146375 -1.145370
2 -0.358858  0.122857 -0.993270  0.561858  0.730366
3 -1.224674 -2.058698  1.926741  1.977397 -2.998598
4  0.517393 -0.518582  1.089479  1.247667 -1.208056

- When doing an operation between DataFrame and Series, the default behavior is to align the Series index on the DataFrame columns, thus broadcasting row-wise. For example:

In [31]:
print(df1 - df1.iloc[0])
print(df2 - df2.iloc[2])

          A         B         C         D
0  0.000000  0.000000  0.000000  0.000000
1 -0.306106 -0.728566 -1.164651  0.386159
2  0.801714 -0.115731 -1.116449 -1.217692
3 -1.052671 -2.420832  1.499272  2.163179
4 -1.353610 -1.553510  0.959980 -0.230198
5 -0.645315 -1.373342  0.070448  1.026644
6 -1.472651  0.907817  0.213241  3.032758
7 -1.742446 -1.558991  2.931568 -1.261890
8 -1.017501 -0.883661  0.344450  2.515187
9 -1.086912 -1.887759  2.228964  1.029626
          A         B         C
0  0.055821  0.612295 -0.686181
1 -1.456482  0.947737 -0.487244
2  0.000000  0.000000  0.000000
3  0.888080 -1.770614 -1.698830
4 -1.536623 -1.179040 -2.083976
5  0.670930  0.431005 -2.119982
6 -1.042682  0.930741  0.086809

 - In the special case of working with time series data, and the DataFrame index also contains dates, the broadcasting will be column-wise:

In [32]:
index = pd.date_range('1/1/2000', periods=8)
df = pd.DataFrame(np.random.randn(8, 3), index=index, columns=list('ABC'))
print(df)

index = pd.date_range('1/1/2024', periods=7)
df = pd.DataFrame(np.random.randn(7, 5), index=index, columns=list('ABCDE'))
print(df)

                   A         B         C
2000-01-01  0.372149 -0.414973 -0.621900
2000-01-02  1.588968  0.270077 -0.083537
2000-01-03  0.650312  0.391413  0.692035
2000-01-04 -1.087116 -1.373426  0.540030
2000-01-05 -0.158446 -0.752559  0.810181
2000-01-06 -0.765428 -0.456485  1.377766
2000-01-07 -0.766456  0.800832  0.307546
2000-01-08  0.363314 -1.019047 -0.183687
                   A         B         C         D         E
2024-01-01  0.255692  0.642916 -0.201375  0.516426 -0.522521
2024-01-02 -0.412936 -0.376871  0.318585 -0.280607 -0.685137
2024-01-03 -1.433969  1.733860 -0.125751  1.568641 -0.882431
2024-01-04  0.242564 -0.717240  0.037094  0.137523  0.982556
2024-01-05 -0.117485 -0.536455 -0.165588  0.973758  0.431698
2024-01-06 -0.492496 -1.821044  0.835488 -1.841208  0.380535
2024-01-07 -0.672971 -0.569326  0.166443 -0.036954 -0.413092

In [33]:
print(df1* 10 + 2)
print(df2/ 10 + 20)

           A          B          C          D
0  13.222114  13.447302  -5.279776  -0.802400
1  10.161055   6.161638 -16.926284   3.059194
2  21.239253  12.289997 -16.444270 -12.979321
3   2.695408 -10.761014   9.712945  20.829386
4  -0.313991  -2.087802   4.320028  -3.104380
5   6.768968  -0.286115  -4.575295   9.464039
6  -1.504401  22.525472  -3.147369  29.525179
7  -4.202348  -2.142610  24.035901 -13.421296
8   3.047102   4.610691  -1.835279  24.349473
9   2.352994  -5.430285  17.009866   9.493858
           A          B          C
0  20.013642  20.074986  20.011652
1  19.862412  20.108530  20.031545
2  20.008060  20.013757  20.080270
3  20.096868  19.836695  19.910387
4  19.854398  19.895853  19.871872
5  20.075153  20.056857  19.868272
6  19.903792  20.106831  20.088951

In [36]:
print(1/df1)
print(2/df2)

           A         B         C         D
0   0.891098  0.873568 -1.373669 -3.568370
1   1.225332  2.402900 -0.528366  9.441138
2   0.519771  0.971818 -0.542174 -0.667587
3  14.380038 -0.783637  1.296522  0.531085
4  -4.321538 -2.446302  4.310293 -1.959102
5   2.096890 -4.374233 -1.520844  1.339757
6  -2.853555  0.487200 -1.942740  0.363304
7  -1.612293 -2.413937  0.453805 -0.648454
8   9.550163  3.830404 -2.607372  0.447438
9  28.329077 -1.345843  0.666228  1.334426
           A          B          C
0  14.660388   2.667163  17.165047
1  -1.453614   1.842804   6.340093
2  24.813517  14.538510   2.491600
3   2.064663  -1.224704  -2.231811
4  -1.373606  -1.920355  -1.560941
5   2.661233   3.517591  -1.518275
6  -2.078827   1.872122   2.248439

In [38]:
print(df1**5)
print(df2**3)

              A          B          C           D
0  1.779809e+00   1.965693  -0.204451   -0.001728
1  3.620191e-01   0.012483 -24.284368    0.000013
2  2.635973e+01   1.153656 -21.345552   -7.541550
3  1.626297e-06  -3.383965   0.272961   23.669047
4 -6.634502e-04  -0.011414   0.000672   -0.034651
5  2.466732e-02  -0.000624  -0.122907    0.231670
6 -5.285289e-03  36.430550  -0.036135  157.997689
7 -9.178690e-02  -0.012200  51.958197   -8.721764
8  1.258769e-05   0.001213  -0.008298   55.761750
9  5.480724e-08  -0.226479   7.618757    0.236335
          A         B         C
0  0.002539  0.421639  0.001582
1 -2.604608  1.278359  0.031391
2  0.000524  0.002603  0.517196
3  0.908955 -4.355086 -0.719644
4 -3.086766 -1.129654 -2.103444
5  0.424464  0.183804 -2.285803
6 -0.890502  1.219236  0.703796

- Boolean operators work as well:

In [39]:
df1 = pd.DataFrame({'a' : [1, 0, 1], 'b' : [0, 1, 1] }, dtype=bool)
print(df1)

df11 = pd.DataFrame({'a' : [1, 0, 1, 0], 'b' : [0, 1, 1, 1], 'c': [1, 1, 0, 1] }, dtype=bool)
print(df11)

       a      b
0   True  False
1  False   True
2   True   True
       a      b      c
0   True  False   True
1  False   True   True
2   True   True  False
3  False   True   True

In [41]:
df2 = pd.DataFrame({'a' : [0, 1, 1], 'b' : [1, 1, 0] }, dtype=bool)
print(df2)

df22 = pd.DataFrame({'a' : [1, 1, 1, 0], 'b' : [0, 1, 0, 1], 'c': [0, 1, 0, 1] }, dtype=bool)
print(df22)

       a      b
0  False   True
1   True   True
2   True  False
       a      b      c
0   True  False  False
1   True   True   True
2   True  False  False
3  False   True   True

In [43]:
print(df1&df2)
print(df11&df22)

       a      b
0  False  False
1  False   True
2   True  False
       a      b      c
0   True  False  False
1  False   True   True
2   True  False  False
3  False   True   True

In [45]:
print(df1 | df2)
print(df11 | df22)

      a     b
0  True  True
1  True  True
2  True  True
       a      b      c
0   True  False   True
1   True   True   True
2   True   True  False
3  False   True   True

In [47]:
print(df1^df2)
print(df11^df22)

       a      b
0   True   True
1   True  False
2  False   True
       a      b      c
0  False  False   True
1   True  False  False
2  False   True  False
3  False  False  False

In [48]:
print(-df1)
print(-df11)

       a      b
0  False   True
1   True  False
2  False  False
       a      b      c
0  False   True  False
1   True  False  False
2  False  False   True
3   True  False  False

## 11.9 transposing

- To transpose, access the T attribute (also the transpose function), similar to an ndarray:

In [51]:
# only show the first 4 rows
print(df[:4].T)
print(df[1:3].T)

   2024-01-01  2024-01-02  2024-01-03  2024-01-04
A    0.255692   -0.412936   -1.433969    0.242564
B    0.642916   -0.376871    1.733860   -0.717240
C   -0.201375    0.318585   -0.125751    0.037094
D    0.516426   -0.280607    1.568641    0.137523
E   -0.522521   -0.685137   -0.882431    0.982556
   2024-01-02  2024-01-03
A   -0.412936   -1.433969
B   -0.376871    1.733860
C    0.318585   -0.125751
D   -0.280607    1.568641
E   -0.685137   -0.882431